body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(169, 190, 172);
  background: radial-gradient(circle, rgba(169, 190, 172, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}